body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* navbar design style start */

.navbar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.3rem;
}
.navbar-brand {
  font-family: "Lobster", cursive;
  font-size: 3rem;
}
.login-sign-up-btn button {
  font-size: 1.3rem;
}

/* navbar design style end */

/* home design style start */
.home-title {
  font-size: 3rem;
  font-weight: bold;
}

.search-form {
  display: flex;
  justify-content: space-evenly;
}

.card img {
  height: 270px;
  width: 100%;
}
.price {
  font-size: 2rem;
  color: #7368c6;
}
.location {
  opacity: 0.8;
}
.select-cus {
  width: 150px;
}
/* home design style end */
